:root {
  --black: #000;
  --gray-darken: #394150;
  --gray: #6c727f;
  --gray-lighten: #e5e7eb;
  --white-darken: #f9fafb;
  --white: #fff;
  --blue: #284bce;

  /* color map */
  --bg-color: var(--white-darken);
  --bg-color-form: var(--white);
  --bg-color-email-button: var(--white-darken);
  --bg-color-subscribe-button: var(--blue);
  --text-color-header: var(--black);
  --text-color-description: var(--gray);
  --text-color-input: var(--gray-darken);
  --text-color-button: var(--white);
  --text-color-helper: var(--gray);
  --border-color-input: var(--gray-lighten);

  /* font */
  --font-base: 'Poppins', system-ui, avenir, helvetica, arial, sans-serif;
}

html,
body {
  font-family: var(--font-base);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
}

body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

/* common
-------------------- */

.container {
  max-width: 640px;
  padding: 0 3.75%;
  margin: 0 auto;
}

@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 10%;
  }
}

@media (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* main
-------------------- */

.main {
  margin-top: 144px;
  margin-bottom: 140px;
}

.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__logo {
  width: 50px;
  height: 50px;
}

.main__header {
  margin-top: 16px;
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-color-header);
}

.main__description {
  margin-top: 20px;
  font-size: 1rem;
  color: var(--text-color-description);
  text-align: center;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  padding: 24px;
  margin-top: 64px;
  background-color: var(--bg-color-form);
  border-radius: 12px;
  box-shadow:
    0 20px 30px 0 rgb(0 0 0 / 3%),
    0 8px 12px 0 rgb(0 0 0 / 8%);
}

.subscribe-form__input {
  width: 100%;
  height: 60px;
  padding: 16px;
  font-weight: 500;
  color: var(--text-color-input);
  text-align: center;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color-input);
  border-radius: 12px;
}

.subscribe-form__input::placeholder {
  color: var(--text-color-input);
}

.subscribe-form__submit-button {
  width: 100%;
  height: 60px;
  padding: 16px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color-button);
  background-color: var(--bg-color-subscribe-button);
  border-color: transparent;
  border-radius: 12px;
}

.subscribe-form__helper-text {
  font-size: 0.875rem;
  color: var(--text-color-helper);
}

@media (width >= 1024px) {
  .main {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .main__header {
    margin-top: 24px;
  }

  .main__description {
    font-size: 1.25rem;
  }

  .subscribe-form {
    align-items: center;
    max-width: 552px;
  }
}

@media (width >= 1280px) {
  .main {
    margin-top: 92px;
    margin-bottom: 92px;
  }

  .main__description {
    margin-top: 24px;
  }

  .subscribe-form {
    margin-top: 56px;
  }
}
