:root {
  --black: #000;
  --gray-darken: #394150;
  --gray: #6c727f;
  --gray-lighten: #e5e7eb;
  --white-darken: #f9fafb;
  --white: #fff;
  --blue: #284bce;

  /* color map */
  --bg-color: var(--white-darken);
  --bg-color-email-button: var(--white-darken);
  --bg-color-subscribe-button: var(--blue);
  --text-color-header: var(--black);
  --text-color-description: var(--gray);
  --text-cllor-black: var(--gray-darken);
  --text-color-white: var(--white);

  /* font */
  --font-base: 'Popiins', system-ui, avenir, helvetica, arial, sans-serif;
}

html,
body {
  font-family: var(--font-base);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

/* common
-------------------- */

.container {
  max-width: 640px;
  padding: 0 3.75%;
  margin: 0 auto;
}

@media (width > 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width > 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 3.5%;
  }
}

@media (width > 1280px) {
  .container {
    max-width: 1280px;
  }
}
